nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background: rgba(0, 140, 255, 0.671);
    padding: 30px;
    position: fixed; /* Changed to fixed */
    border-radius: 0px 0px 20px 20px;
    top: 0;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    list-style: none;
    text-transform: capitalize;
}

nav ul li {
    list-style: none;
    position: relative;
    padding-bottom: 5px; /* Add padding to show the underline */
    cursor: pointer;
}

nav ul li::after {
    content: "hello";
    background-color: yellow;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
    transition: all 0.3s ease;
    opacity: 0;
}

nav ul li:hover::after {
    bottom: 0;
    opacity: 1;
}

nav ul li:hover {
    transform: translate(0px, 50px);
    transition: transform 0.3s ease;
}