/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    text-align: center;
}
section{
    width: 100%;
    height: 100vh;
}

.section1 {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../frontend/images/Hotels\ Business\ Website.png') no-repeat center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 22px;
    margin-top: 10px;
}

.welcome-btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background: #3636369b;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.welcome-btn:hover {
    background: #001e53;
    transform: scale(1.1);
}

/* Navigation */
nav {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

li {
    color: rgb(46, 46, 46);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    color: #ffcc00;
}

/* Sections */
section {
    padding: 50px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Section Experts */
.expert {
    margin-top: 20px;
}

.expert img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#services ul li{
    color: black;
}
